@(ud:String)


@main("welcome to EXTR ") {

<div class="container-narrow">

      
      <div class="masthead">
		<ul class="nav nav-pills pull-right">
			<li><a href="@routes.paging.pag()" >Home</a></li>
			<li><a href="@routes.paging.extrad(ud)" >Extr resume</a></li>
			<li><a href="@routes.signin.logou">Logout</a></li>
		</ul>
		<h3 class="muted">
			welcome admin</b>
		</h3>
	</div>
	<hr/>
	<div>@flash.map {
    case (key, value) => {
        <p class="error">
            <span ><b>@value</b></span>
        </p>
    }
}</div>
	
	<div align="center">
	@upl()
	</div>
	<div>
	
	
	
	
	
	
	</div>
	}