@(id: Long, userForm: Form[User])
@import helper._
@import helper.twitterBootstrap._
@main("EXTR Show"){


			<div class="container-narrow">

      
     <h1>Edit user info</h1>
    
    @form(routes.update.upd(id)) {
        
        <fieldset>
        @if(userForm.hasGlobalErrors) {
        <p class="error">
            <span><b>@userForm.globalError.message</b></span>
        </p>
    }
       
        	@inputText(userForm("email"),'_label->"Enter email")
            @inputText(userForm("name"), '_label -> "user name")
            @inputText(userForm("password"), '_label -> "password")
            
            
            
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save user" class="btn primary">
	</div>
	</div>
}
}