@import helper._ 
@import helper.twitterBootstrap._



            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/">MyApp</a>
                    



                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class=""><a href="/">Home</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
            
            
            
